# Python cache
__pycache__/
*.pyc

# Virtual environment
enviro/
venv/

# Django database
db.sqlite3

# Environment variables
.env

# Static & media (optional)
media/
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db